

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
:root {
    --bg-color: #cebe65;
    --second-bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #a5953d;

}

html {
    font-size: 100%;
    overflow-x:hidden;
    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  section {
    min-height: 100vh;
    padding: 0px;
}
  .navbar {
    background-color: var(--bg-color);
    overflow:hidden;;
    text-align: center; 
  }


  
  .navbar a {
    display: inline-block;
    margin-right: 20px;
    color:var(--text-color);
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    color:var(--second-bg-color);
  }
  .navbar a:nth-child(3) {
    float: right; 
    margin-right: 19px;
    margin-top: 10px;
    margin-left: 0;
    background-color: var(--text-color);
    color:var(--second-bg-color);
  }

  .navbar h3 {
    display: inline-block;
    margin-right: 20px;
    color:var(--text-color);
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    margin-right: 0;
    margin-top: 5px;
    margin-left: 59px;
    font-size: 30px;

  }

  .btn{
    padding: 10px 8px;
    width: 100;
    color: #000000;
    background: var(--text-color);
    border-radius: 5px;
    text-align: center; 
}

.btn-cadastro {
  
  padding: 10px 8px;
  width: 100px;
  color: var(--second-bg-color);
  border: .2rem solid #05ce59;
  box-shadow: 0 0 1rem #05ce59;
  background: #05ce59;
  letter-spacing: .1rem;
  font-weight: 600;
  border-radius: 5px;
  transition: .5s ease;

}

.btn:hover{
  box-shadow: none;
}



  .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(to bottom,var(--bg-color),#5a4d06)        
  }

  
  .separator {
    
    width: 0;
    height: 0;
    overflow: hidden;
    border-left: 120vw solid transparent;
    border-color: #7a6b153a; 
    border-style: solid; 
    border-bottom: 9.9vw solid var(--second-bg-color);
    margin-top: -9.9vw;
    
  }

  .home-img img{
    width: 30vw;
    margin-left: 8px;

}

.recycling {
  width: 10vw;
  margin-left: 150px;
  margin-right: 0px;
  margin-top: 35.9vw;
  
}



.about-content h2,p{
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}
.about p {
  color: #837e7e;

}

.sobre{
  margin-right: 35px;
  
  text-align: center;
  

}
.sobre p{
 color: #837e7e;

}

.refeicao {
  width: 50vw;
  float: right;
}

.info-container {
  display: flex;
  justify-content: flex-end; /* Alinhar as caixas à direita */
  align-items: flex-start;
   margin-top: 20px;
 
}

.info-box {
  
  flex: 1 1 1rem;
  background: var(--main-color);
  border: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  
  flex-basis: 0px; /* Define a largura base das caixas, considerando margens */
  margin: 0px; /* Margem ao redor das caixas */
  padding: 0px; /* Preenchimento interno das caixas */
  background-color: var(--second-bg-color); /* Cor de fundo para destacar as caixas */
  border-radius: 0%; /* Borda arredondada nas caixas */
  flex-basis: 30%; /* Largura das caixas de serviços */
  padding: 10px;
  flex-wrap: wrap;
  display: inline-block;
  
  margin-top: 20px;
  margin-left: 10px; 
}

.info-sobre {
  border: var(--second-bg-color);
  margin:0px; 
  background-color: var(--second-bg-color); 
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 100px; 
}

.info-icon ion-icon {
  margin-right: 10px;
  font-size: 25px;
  color: var(--main-color);
}

.info-icon1 ion-icon {
  margin-right: 10px;
  font-size: 25px;
  

}
.archive{
  color: #ff0606;
}
.trending{
  color: #0634ff;
}

.git-merge-outline{
  color: #05f368;
}

.info-text {
  padding: 10px;
  border: 2px var(--second-bg-color);
  flex-grow: 1;
  width: 258px; /* Defina a largura desejada para a caixa de texto */
  height: 180px; /* Defina a altura desejada para a caixa de texto */
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  
}

.info-text h2{
  font-size: 20px;
  margin: 0;
  justify-content: center;

}
.info-text p{
  font-size: 15px;
  margin: 0;

}


footer {
  background-color:#e4e6e45d;
  color: var(--text-color);
  padding: 10px;
  display: flex;
  align-items: center;
}

footer img {
  max-width: 50px;
  margin-right: 20px;
}


footer p {
  margin: 0;
  flex: 1;
  text-align: center;
}
