body, h1, h2, p, ul, li, form, input, textarea {
  margin: 0;
  padding: 0;
  background-color: #cebe65;
  font-family: Arial, sans-serif;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
header h1 {
  font-size: 36px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilo para o rodapé */
footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}








