@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
:root {
    --bg-color: #cebe65;
    --second-bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #a5953d;

}

html {
    font-size: 100%;
    overflow-x:hidden;
    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}


h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

select {
    padding: 10px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

br {
    margin-bottom: 10px;
}